body {
  padding-top: 70px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row-padded {
  padding: 5px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

a[ng-click] {
    cursor: pointer;
}

tr[ng-click] {
    cursor: pointer;
}

.btn-dropdown {
    width: 100px;
}

.vertical-meter {
    width: 30px;
    height: 7px;
    transform: rotate(-90deg);
    margin-left: -5px;
    margin-right: -5px;
    vertical-align: middle;
}

.silo-numbers {
    display: inline-block;
    vertical-align: middle;
}
